apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-wgreadvy
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-wgreadvy:80f1e7fb02c15dd973653737eb477725c7df7e9c@sha256:8d7edeee01e6e5fae40340092fd7d89c396e8722e3a2be8069e4ad6bf25e75cb
        name: container-image  
